section.about_us
    .about_us__wrapper.container
        .section_title Who we are?
        .about_us__flex
            +img('about-us.jpg', 'about_us__img')
            .about_us__text
                .section_desc In-stream ads launched via simple widget in 5 minutes
                p.about_us__article  Lorem ipsum dolor sit amet consectetur. Velit ipsum elit cursus maecenas vel ipsum quis eu gravida. Sit accumsan sed ac tellus sit rhoncus. Dignissim sit ut nec facilisi. Est in suspendisse faucibus ut diam.
                +btn('Read more', 'about_us__cta', isLink, '#url')