section.content-section-2
  .content-section-2__wrapper.container 
    .content-section-2__image-block
        .content-section-2__image-wrapper
          +img('square.png', 'content-section-2__image')
    .content-section-2__content-block
      +cardWithPic('content-section-2', 'circle.png', 'Feature one', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum fuga excepturi beatae molestias, ut autem dolores possimus officia, sit as' )
      +cardWithPic('content-section-2', 'circle.png', 'Feature two', ' Deleniti vero odio fugit aut? Quod aspernatur similique dolore dicta iure accusantium perferendis. dignissimos esse temporibus aut nihil blanditiis eligendi mollitia' )