section.content-section-1
  .content-section-1__wrapper.container 
    .content-section-1__content-block
      +cardWithPic('content-section-1', 'circle.png', 'Feature one', 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum fuga excepturi beatae molestias, ut autem dolores possimus officia, sit as' )
      +cardWithPic('content-section-1', 'circle.png', 'Feature two', ' Deleniti vero odio fugit aut? Quod aspernatur similique dolore dicta iure accusantium perferendis. dignissimos esse temporibus aut nihil blanditiis eligendi mollitia' )
    .content-section-1__image-block
      .content-section-1__image-wrapper
        +img('square.png', 'content-section-1__image')