section.faq
    .faq__wrapper.container
        h2.section_title Frequently asked questions
        p.section_desc Cras tincidunt lobortis feugiat vivamus at morbi leo urna molestie atole elementum eu facilisis faucibus interdum posuere.
        ul.faq__list
            li.faq__list_item
                button(aria-expanded="false").faq__list_item-open.faq__list_item_flex
                    h5.faq__list_item-title What is Webflow and why is it the best website builder?
                .faq__list_item-accordion
                    p.faq__list_item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
            li.faq__list_item
                button(aria-expanded="false").faq__list_item-open.faq__list_item_flex
                    h5.faq__list_item-title What is Webflow and why is it the best website builder?
                .faq__list_item-accordion
                    p.faq__list_item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
            li.faq__list_item
                button(aria-expanded="false").faq__list_item-open.faq__list_item_flex
                    h5.faq__list_item-title What is Webflow and why is it the best website builder?
                .faq__list_item-accordion
                    p.faq__list_item-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
