footer.footer
    .container
        .footer__flex
            .footer__column
                p.footer__column-title Work with us
                ul.footer__list
                    li.footer__list_item
                        a(href="#").footer__list_item-link Monetize
                    li.footer__list_item
                        a(href="#").footer__list_item-link Advertize
                    li.footer__list_item
                        a(href="#").footer__list_item-link About us
            .footer__column
                p.footer__column-title Contact us
                    ul.footer__list
                        li.footer__list_item
                            a(href="#").footer__list_item-link Monetize
                        li.footer__list_item
                            a(href="#").footer__list_item-link Advertize

            .footer__column
                p.footer__column-title Terms
                    ul.footer__list
                        li.footer__list_item
                            a(href="#").footer__list_item-link Monetize
                        li.footer__list_item
                            a(href="#").footer__list_item-link Advertize
        .copy  © All rights reserved
