section.hero 
  .container.hero__wrapper
    .hero__content-block
      h1.hero__title The main Title for the whole website
      p.hero__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, natus excepturi aspernatur laboriosam sed consequatur
      div.hero__btns-area
        +btn('Show more', 'hero__btn btn--outlined')
        +btn('Order now', 'hero__btn')
    .hero__images-block 
      +img('square.png', 'hero__image')