section.narrow-section-1
  .narrow-section-1__wrapper.container 
    .narrow-section-1__text-block 
      .narrow-section-1__title Section Title
      .narrow-section-1__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quibusdam quisquam possimus mollitia ratione
    .narrow-section-1__images-block 
      .narrow-section-1__img-wrapper 
        +img('square.png', 'narrow-section-1__img')
      .narrow-section-1__img-wrapper 
        +img('square.png', 'narrow-section-1__img')
      .narrow-section-1__img-wrapper 
        +img('square.png', 'narrow-section-1__img')