section.news
    .news__wrapper.container
        h2.section_title The latest from StreamHub
        .news__flex
            .news__item
                +img('news.jpg', 'news__item_img')
                span.news__item_date Апрель 12, 2022
                h4.news__item_title Soon we going suggest new Features
                +btn('Read more', 'news__item_cta', isLink, '#url')
            .news__item
                +img('news.jpg', 'news__item_img')
                span.news__item_date Апрель 12, 2022
                h4.news__item_title Soon we going suggest new Features
                +btn('Read more', 'news__item_cta', isLink, '#url')
            .news__item
                +img('news.jpg', 'news__item_img')
                span.news__item_date Апрель 12, 2022
                h4.news__item_title Soon we going suggest new Features
                +btn('Read more', 'news__item_cta', isLink, '#url')
