section.offer
  .offer__wrapper.container
    .offer__tabs
      .offer__tabs__text-block
        button(name='streamers-tab').offer_tabs__title For Streamers
        button(name='brands-tab').offer__tabs__title For Brands
      section(id="streamers-tab").offer__tabs_features-block
        ul.offer__tabs_features-list
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
        +btn('Contact us', 'offer__tabs_cta')
      section(id="brands-tab").offer__tabs_features-block
        ul.offer__tabs_features-list
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Lorem ipsum dolor sit
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__tabs_features-list-item
            h4.offer__tabs_features-list-item-title Everything you need
            p.offer__tabs_features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
        +btn('Contact us', 'offer__tabs_cta', isLink, 'url')