section.offer
  .offer__wrapper.container
    .offer__tabs
      .offer__text-block
        button(name='streamers-tab').offer__title For Streamers
        button(name='brands-tab').offer__title For Brands
      section(id="streamers-tab").offer__features-block
        ul.offer__features-list
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
        +btn('Contact us', 'offer_cta')
      section(id="brands-tab").offer__features-block
        ul.offer__features-list
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
          li.offer__features-list-item
            h4.offer__features-list-item-title Everything you need
            p.offer__features-list-item-desc Lorem ipsum dolor sit amet consectetur consectetur consectetur consectetur Lorem ipsum
        +btn('Contact us', 'offer_cta')