section.steps
    .steps__wrapper.container
        h2.steps__title.section_title Winning non-disruptive ad formats
        .steps__desc.section_desc In-stream ads launched via simple widget in 5 minutes
        .steps__img-wrapper
            +img('steps-main-img.jpg', 'steps__img')
        ul.steps__list
            li.steps__list-item
                span.steps__list-item-number 1
                p.steps__list-item-desc Call to action message and an offer link in streams' chat
            li.steps__list-item
                span.steps__list-item-number 2
                p.steps__list-item-desc Call to action message and an offer link in streams' chat
            li.steps__list-item
                span.steps__list-item-number 3
                p.steps__list-item-desc Call to action message and an offer link in streams' chat
            li.steps__list-item
                span.steps__list-item-number 4
                p.steps__list-item-desc Call to action message and an offer link in streams' chat