$c_primary-color: #a3d8ff;
$c_primary-color--dark: darken($c_primary-color, 10%);
$c_primary-color--light: lighten($c_primary-color, 10%);
$c_secondary-color: #27a7e2;
$c_secondary-color--dark: darken($c_secondary-color, 10%);
$c_secondary-color--light: lighten($c_secondary-color, 10%);
$c_link-color: $c_primary-color;
$c_contrast-color: #fff;
$c_card-color: #fff;
$c_bg-color: #FFF9F2;

$shadow_1: 0 2px 6px 0 rgba(20, 20, 43, 0.06);
$shadow_2: 0 2px 12px 0 rgba(20, 20, 43, 0.08);
$shadow_3: 0 8px 28px 0 rgba(20, 20, 43, 0.1);
$shadow_4: 0 14px 42px 0 rgba(20, 20, 43, 0.14);

$p_header-pt: 1.5rem;
$p_header-pb: 1.5rem;

$h_logo-header: 5.75rem;
$h_logo-header-mob: 3rem;