extends ../layout/main

block vars 
  - var pageTitle = 'The Title';

block content
  include ../includes/hero
  include ../includes/narrow-section-1
  include ../includes/content-section-1
  include ../includes/narrow-section-1
  include ../includes/content-section-2