extends ../layout/main

block vars 
  - var pageTitle = 'StreamHub';

block content
  include ../includes/hero
  include ../includes/offer
  include ../includes/steps
  include ../includes/about_us
  include ../includes/news
  include ../includes/faq
