extends ../layout/main

block vars 
  - var pageTitle = 'The Title';

block content
  //- h1.title Hi there
  //- p.class Some txt
  //- img(src='/assets/img/logo.jpg')
  //- .btn-container
  //-   +testButton('Click Me!', 'red-btn')
  //- ul.goods__list 
  //-   +listItem('goods')
  //-     span Apples
  //-   +listItem('goods')
  //-     span Pineapples
  //-   +listItem('goods')
  //-     span Bananas