include ../utils/globalMixins

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    meta(name="description", content=description)
    link(href=require('../../assets/css/styles.scss') rel='stylesheet')
    script(src=require('../../assets/js/main.js') defer='defer')

  body.body
    include ../includes/header/index
    main
      block content
    include ../includes/footer
